.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  animation-name: App-logo-spin;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.click-button {
  padding: 5px 20px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #fff;
  cursor: pointer;
}

.click-button:hover{
  opacity: 0.8f;
}

.clickd-button {
  padding: 5px 20px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #aaa;
  color: #aaa;
  pointer-events: none;
}

.App-result {
  display: none;
}

.reset-button {
  padding: 5px 20px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #fff;
  cursor: pointer;
}

.reset-button:hover {
  opacity: 0.8f;
}